#block{
    width: 250px;
    margin-left: 5px;
    margin-top: 50px;
  }
  .text{
    color: white;
    text-align: center;
    padding: 15px;
    
  }
  
  
  
  .blue{
    background-color: blue;
  }
  .green{
    background-color: green;
  }
  .red{
    background-color: red;
  }
  .black{
    background-color: black;
  }